<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Fix shutdown delay (patch by hieplvip modified by tctien for VivoBook S15)</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PTS_ tctien.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable trackpad in interrupts mode</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Trackpad_interrupts.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable FMCN and SSCN on SKL Touchpad model in polling mode</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-Trackpad_polling-I2C1_USTP.aml</string>
			</dict>
</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=				</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
								</data>
				<key>OemTableId</key>
				<data>
								</data>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=				</data>
				<key>ReplaceMask</key>
				<data>
								</data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>
								</data>
			</dict>
</array>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=				</data>
				<key>Identifier</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
								</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=				</data>
				<key>ReplaceMask</key>
				<data>
								</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
</array>
	</dict>
</dict>
</plist>
