<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>AICPUPM: Rename APSS to APXX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QVBTUw==</data>
					<key>Replace</key>
					<data>QVBYWA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ATK support: Rename M(IANE) to XANE</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SUFORQk=</data>
					<key>Replace</key>
					<data>WEFORQk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0A) to XQ0A F1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwQQ==</data>
					<key>Replace</key>
					<data>WFEwQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0B) to XQ0B F2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwQg==</data>
					<key>Replace</key>
					<data>WFEwQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0E) to XQ0E F5</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwRQ==</data>
					<key>Replace</key>
					<data>WFEwRQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0F) to XQ0F F6</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwRg==</data>
					<key>Replace</key>
					<data>WFEwRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q11) to XQ11 F8</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExMQ==</data>
					<key>Replace</key>
					<data>WFExMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery fix: Rename M(BIFA) to XBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QklGQQA=</data>
					<key>Replace</key>
					<data>WEJJRgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery fix: Rename M(FBST) to XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RkJTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery fix: Rename M(SMBR) to XSMR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CUgs=</data>
					<key>Replace</key>
					<data>WE1CUgs=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery fix: Rename M(SMBW) to XSMW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CVw0=</data>
					<key>Replace</key>
					<data>WE1CVw0=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery fix: Rename M(_BIX) to XBIX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0JJWAA=</data>
					<key>Replace</key>
					<data>WEJJWAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Sleep fix: Rename M(GPRW) to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ALS: change Method(RALS,0,S) XALS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UkFMUwA=</data>
					<key>Replace</key>
					<data>WEFMUwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Sleep &amp; Shutdown: _PTS to ZPTS(1,N) (copied from Daliansky's OC-Little)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Wake from Sleep: _WAK to ZWAK(1,N) (copied from Daliansky's OC-Little)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EC firmware: _REG to XREG(2,N) in EC0 and tailing bytes (copied from hieplpvip's ASUS Zenbook repo)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1JFRwKgCw==</data>
					<key>Replace</key>
					<data>WFJFRwKgCw==</data>
				</dict>
			</array>
		</dict>
		<key>DisabledAML</key>
		<array>
			<string>SSDT-RP01_PEGP.aml</string>
			<string>SSDT-Trackpad_polling-I2C1_USTP.aml</string>
			<string>SSDT-PTS.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>DropForAllOS</key>
				<false/>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rvp10</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<true/>
			<key>PluginType</key>
			<string>1</string>
			<key>UnderVoltStep</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#Arguments - 2</key>
		<string></string>
		<key>#Comment-#Arguments - 2</key>
		<string>If you do not have DW1560</string>
		<key>#Comment-Arguments</key>
		<string>Only if you have DW1560</string>
		<key>Arguments</key>
		<string>-v alcid=13 #brcmfx-country=US #bpr_probedelay=200 #bpr_initialdelay=400 #bpr_postresetdelay=400</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>0</integer>
		<key>XMPDetection</key>
		<integer>0</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<false/>
		<key>C4</key>
		<false/>
		<key>C6</key>
		<false/>
		<key>HWPEnable</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Audio Controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>AwAAAA==</data>
				<key>model</key>
				<string>Conexant CX8050 High-Definition Audio</string>
				<key>name</key>
				<string>audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key># LVDS, Dummy, HDMI, Dummy</key>
				<string>LVDS@0 and HDMI@2</string>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>device_type</key>
				<string>Display Controller</string>
				<key>framebuffer-con1-busid</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-flags</key>
				<data>IAAAAA==</data>
				<key>framebuffer-con1-index</key>
				<data>/////w==</data>
				<key>framebuffer-con1-pipe</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AQAAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel UHD Graphics 620</string>
				<key>name</key>
				<string>display</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Tool</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>ControlMsrE2</string>
					<key>Hidden</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Clover\Tools\ControlMsrE2.efi</string>
					<key>Volume</key>
					<string>\</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>CleanNvram</string>
					<key>Hidden</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Clover\Tools\CleanNvram.efi</string>
					<key>Volume</key>
					<string>\</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha (Delete this patch after unlocking MSR 0xE2)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>SetupVirtualMap</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>HWTarget</key>
		<string>J213AP</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>07/05/2021</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP154.88Z.F000.B00.2107050236</string>
		<key>Board-ID</key>
		<string>Mac-53FDB3D8DB8CA971</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>MacBookPro15,4</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>EfiVersion</key>
		<string>1715.0.57.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF426</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>ProductName</key>
		<string>MacBookPro15,4</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>